/* PAGE RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 5px;
    background-color: rgb(173, 216, 230);
}

footer {
    padding: 5px;
    background-color: rgb(35, 39, 42);
}

section {
    padding: 10px 0px;
}


/* DEBUG */

.debug [class^="col-"] {
    border: 2px solid greenyellow;
    padding: 5px;
}

.debug header, .debug footer {
border: 2px solid greenyellow;
}

.debug .container {
    border:2px solid greenyellow;
    padding: 5px;
}

.debug .row {
    border: 2px solid greenyellow
}

/* CLASSES */

.main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.container {
     max-width: 900px;
     margin: 0 auto;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}


/* COLUMNS */

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 300px;
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    min-height: 250px;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    min-height: 250px;
}
.col-12 {
    flex-basis: calc((100% / 12) * 12);
    min-height: 500px;
}


/* BACKGROUND COLORS */

.l-blue {
    background-color: rgb(29, 144, 255);
}

.blue {
    background-color: rgb(2, 0, 139);
}

.white {
    background-color: white;
}

.l-pink {
    background-color: rgb(255, 192, 203);
}

.pink {
    background-color: rgb(238, 130, 238);
}

.d-pink {
    background-color: rgb(240, 127, 128);
}

.green {
    background-color: rgb(34, 139, 34);
}

.a-green {
    background-color: rgb(32, 178, 170);
}

.mint {
    background-color: rgb(127, 255, 212);
}

.orange {
    background-color: rgb(218, 165, 32);
}

.l-grey {
    background-color: rgb(211, 211, 211);
}

.d-grey {
    background-color: rgb(35, 39, 42);
}