/* PAGE RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* DEBUG */

.debug [class^="col-"] {
    border: 2px solid greenyellow;
}

.debug header, .debug footer {
border: 2px solid greenyellow;
}

.debug .container {
    border:2px solid greenyellow;
    padding: 5px;
}

.debug .row {
    border: 2px solid greenyellow
}

.debug header {
    padding: 10px;
    background-color: rgb(173, 216, 230);
}

.debug footer {
    padding: 5px;
    background-color: rgb(35, 39, 42);
}

.debug .footer__row {
    padding: 10px 0px;
}

.debug section {
    padding: 15px 0px;
}

.debug a {
    padding: 5px;
}

.debug .login, .debug .logo {
        padding: 10px 0px;
}

/* BACKGROUND COLORS */

.debug .l-blue {
    background-color: rgb(29, 144, 255);
}

.debug .blue {
    background-color: rgb(2, 0, 139);
}

.debug .white {
    background-color: white;
}

.debug .l-pink {
    background-color: rgb(255, 192, 203);
}

.debug .pink {
    background-color: rgb(238, 130, 238);
}

.debug .d-pink {
    background-color: rgb(240, 127, 128);
}

.debug .green {
    background-color: rgb(34, 139, 34);
}

.debug .a-green {
    background-color: rgb(32, 178, 170);
}

.debug .mint {
    background-color: rgb(127, 255, 212);
}

.debug .orange {
    background-color: rgb(218, 165, 32);
}

.debug .l-grey {
    background-color: rgb(211, 211, 211);
}

.debug .d-grey {
    background-color: rgb(35, 39, 42);
}

/* CLASSES */

.main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container {
     max-width: 900px;
     margin: 0 auto;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.login {
    display: flex;
    justify-content: flex-end;
}

/* COLUMNS */
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 300px;
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    min-height: 250px;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    min-height: 250px;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    min-height: 500px;
}


